*[~]
.DS_Store
bin
obj
*/TestResults/
*/TestResults/*
*TestResults*
*.dll
*.scc
*.suo
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.sdf
*.opensdf
*.orig
*.tar
*.trx
*.vcproj.*.user
*.user
*.*.user
*.vsp
*.psess
*.svclog
[Dd]ebug
[Rr]elease*
*.class
target
*.vsmdi
*.RHistory
*.exe
packages/*